* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-content-box {
  display: flex;
  flex-direction: column;
}

th {
  border: 1px solid black;
  padding: 3px;
}
td {
  border: 1px solid black;
  padding: 3px;
  margin-right: 10px;
}
td input {
  background-color: pink;
}
.button-box {
  display: flex;
  justify-content: space-between;
  width: 10em;
}
button {
  background-color: lightskyblue;
  border-radius: 3px;
  padding: 3px;
  margin-top: 3px;
}
.total-box {
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
  margin-top: 3px;
}
p {
  margin: 5px;
}
.count-box {
  display: flex;
  justify-content: space-between;
  width: 20em;
}
#total {
  margin-left: 20px;
  font-weight: bold;
}
#totalValue{
  font-weight: bold
}
